USE [master]
GO
/****** Object:  Database [QuanLyDangKyHocPhan]    Script Date: 6/14/2026 11:11:28 PM ******/
CREATE DATABASE [QuanLyDangKyHocPhan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDangKyHocPhan', FILENAME = N'/var/opt/mssql/data/QuanLyDangKyHocPhan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDangKyHocPhan_log', FILENAME = N'/var/opt/mssql/data/QuanLyDangKyHocPhan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDangKyHocPhan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDangKyHocPhan]
GO
/****** Object:  Table [dbo].[ChiTietLichHoc]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLichHoc](
	[MaCTLH] [varchar](30) NOT NULL,
	[MaLHP] [varchar](30) NULL,
	[Thu] [int] NULL,
	[TietBatDau] [int] NULL,
	[TietKetThuc] [int] NULL,
	[MaPhong] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[MaNganh] [varchar](20) NOT NULL,
	[MaMon] [varchar](20) NOT NULL,
	[LoaiMon] [nvarchar](20) NULL,
	[HocKyKhuyenNghi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHocPhan]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHocPhan](
	[MaSV] [varchar](20) NOT NULL,
	[MaLHP] [varchar](30) NOT NULL,
	[ThoiGianDK] [datetime] NULL,
	[TrangThaiDK] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuKienMonHoc]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKienMonHoc](
	[MaMon] [varchar](20) NOT NULL,
	[MaMonYeuCau] [varchar](20) NOT NULL,
	[LoaiDieuKien] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[MaMonYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotDangKy]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotDangKy](
	[MaDot] [varchar](20) NOT NULL,
	[MaHK] [varchar](10) NULL,
	[TenDot] [nvarchar](100) NULL,
	[KhoaTuyenSinhApDung] [varchar](10) NULL,
	[ThoiGianMo] [datetime] NULL,
	[ThoiGianDong] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[HocVi] [nvarchar](50) NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHK] [varchar](10) NOT NULL,
	[TenHK] [nvarchar](50) NOT NULL,
	[NamHoc] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TinChiToiThieu] [int] NULL,
	[TinChiToiDa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaHocTap]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaHocTap](
	[MaSV] [varchar](20) NOT NULL,
	[MaMon] [varchar](20) NOT NULL,
	[MaHK] [varchar](10) NOT NULL,
	[TrangThaiQuaMon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC,
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[LienHe] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [varchar](30) NOT NULL,
	[MaMon] [varchar](20) NULL,
	[MaHK] [varchar](10) NULL,
	[MaGV] [varchar](20) NULL,
	[SiSoToiDa] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](20) NOT NULL,
	[TenMon] [nvarchar](150) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganhHoc]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganhHoc](
	[MaNganh] [varchar](20) NOT NULL,
	[TenNganh] [nvarchar](100) NOT NULL,
	[MaKhoa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [varchar](20) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[ToaNha] [nvarchar](50) NULL,
	[SucChua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Email] [varchar](100) NULL,
	[MaNganh] [varchar](20) NULL,
	[KhoaTuyenSinh] [varchar](10) NULL,
	[TrangThaiHocTap] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/14/2026 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhauHash] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyHocPhan] ADD  DEFAULT (getdate()) FOR [ThoiGianDK]
GO
ALTER TABLE [dbo].[ChiTietLichHoc]  WITH CHECK ADD  CONSTRAINT [FK_CTLH_LopHocPhan] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[ChiTietLichHoc] CHECK CONSTRAINT [FK_CTLH_LopHocPhan]
GO
ALTER TABLE [dbo].[ChiTietLichHoc]  WITH CHECK ADD  CONSTRAINT [FK_CTLH_PhongHoc] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietLichHoc] CHECK CONSTRAINT [FK_CTLH_PhongHoc]
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao] CHECK CONSTRAINT [FK_CTDT_MonHoc]
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_NganhHoc] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NganhHoc] ([MaNganh])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao] CHECK CONSTRAINT [FK_CTDT_NganhHoc]
GO
ALTER TABLE [dbo].[DieuKienMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[DieuKienMonHoc] CHECK CONSTRAINT [FK_DKMH_MonHoc]
GO
ALTER TABLE [dbo].[DieuKienMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_MonYeuCau] FOREIGN KEY([MaMonYeuCau])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[DieuKienMonHoc] CHECK CONSTRAINT [FK_DKMH_MonYeuCau]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_TaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_TaiKhoan]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiangVien]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_HocKy] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_HocKy]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_MonHoc]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_Khoa]
GO
ALTER TABLE [dbo].[NganhHoc]  WITH CHECK ADD  CONSTRAINT [FK_NganhHoc_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[NganhHoc] CHECK CONSTRAINT [FK_NganhHoc_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_NganhHoc] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NganhHoc] ([MaNganh])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_NganhHoc]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_TaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_TaiKhoan]
GO
ALTER TABLE [dbo].[ChiTietLichHoc]  WITH CHECK ADD CHECK  (([TietBatDau]>(0)))
GO
ALTER TABLE [dbo].[ChiTietLichHoc]  WITH CHECK ADD CHECK  (([Thu]>=(2) AND [Thu]<=(8)))
GO
ALTER TABLE [dbo].[ChiTietLichHoc]  WITH CHECK ADD  CONSTRAINT [CK_ChiTietLichHoc_ThoiGian] CHECK  (([TietKetThuc]>=[TietBatDau]))
GO
ALTER TABLE [dbo].[ChiTietLichHoc] CHECK CONSTRAINT [CK_ChiTietLichHoc_ThoiGian]
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD CHECK  (([LoaiMon]=N'TuChon' OR [LoaiMon]=N'BatBuoc'))
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD CHECK  (([TrangThaiDK]=N'DaHuy' OR [TrangThaiDK]=N'ChoHuy' OR [TrangThaiDK]=N'ThanhCong'))
GO
ALTER TABLE [dbo].[DieuKienMonHoc]  WITH CHECK ADD CHECK  (([LoaiDieuKien]=N'SongHanh' OR [LoaiDieuKien]=N'HocTruoc' OR [LoaiDieuKien]=N'TienQuyet'))
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD CHECK  (([TrangThaiQuaMon]=N'KhongDat' OR [TrangThaiQuaMon]=N'Dat'))
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD CHECK  (([TrangThai]=N'BiHuy' OR [TrangThai]=N'DaKhoa' OR [TrangThai]=N'DangMo'))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([TrangThaiHocTap]=N'TotNghiep' OR [TrangThaiHocTap]=N'ThoiHoc' OR [TrangThaiHocTap]=N'BaoLuu' OR [TrangThaiHocTap]=N'DangHoc'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([TrangThai]=N'DaKhoa' OR [TrangThai]=N'HoatDong'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'Admin' OR [VaiTro]=N'GiaoVu' OR [VaiTro]=N'GiangVien' OR [VaiTro]=N'SinhVien'))
GO
USE [master]
GO
